<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>exception</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
<!--   <servlet>
  	<servlet-name>mainServlet</servlet-name>
  	<servlet-class>exception.mainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>mainServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping> -->
  
  <!-- 에러 코드별로 에러 페이지 지정하는 방식. -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error404.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/error500.jsp</location>
  </error-page>
  
  <!-- 익셉션 타입별로 에러페이지 지정하는 방식. -->
  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/error/errorNullPointer.jsp</location>
  </error-page>
  
  
  <!-- 에러 페이지의 우선순위와 에러 페이지 지정 현태 -->
  <!-- 1. page 디렉티브의 errorPage속성  -->
  <!-- 2. web.xml의 exception-type지정 -->
  <!-- 3. web.xml의 error-code 지정 -->
</web-app>